@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Cuisine

<h2>Edit</h2>

<h4>Edit this type of food: @Html.DisplayFor(model => model.CuisineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineId)

  @Html.LabelFor(model => model.CuisineName)
  @Html.EditorFor(model => model.CuisineName)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>