@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>About this Stylist</h2>
<br>
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<p>@Html.DisplayNameFor(model => model.Details): @Html.DisplayFor(model => model.Details)</p>

<p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to stylists' list", "Index")</p>

<ul>
  @foreach(Client client in Model.Clients)
{
  <li>@Html.ActionLink($"{client.Name}", "Show", "Clients", new {id = client.ClientId})</li>
}
</ul>