@{
  Layout = "_Layout";
}

@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylist details</h2>
<h3>@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)</h3>
<p>@Html.DisplayNameFor(model => model.StylistDetails): @Html.DisplayFor(model => model.StylistDetails)</p>

<p>@Html.ActionLink("Edit stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to stylists' list", "Index")</p>

<ul>
  @foreach(Client client in Model.Clients)
{
  <li>@Html.ActionLink($"{client.Name}", "Show", "Clients", new {id = client.ClientId})</li>
}
</ul>