@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<h2>Edit Client</h2>

<h3>@Html.DisplayFor(model =>  model.Name)</h3>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.HiddenFor(model => model.StylistId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.About)
  @Html.TextAreaFor(model => model.About, new { cols = "60", row = "5", maxLength = "255"})

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p> 